<html>
<head>
    <title>Chinese Union 非诚勿扰</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body background="\images\bkgnd_new.jpg" style="background-position:center">
    <h1 align="center" style="color: white; font-size: 70px"><big><b>Chinese Union 非诚勿扰 7.0 —— UCSD专场</h1>

    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

      <div class="modal-dialog modal-sm">

        <div class="modal-content" align="center">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body" align="center">
            <button type="button" id="shut" class="btn btn-default" data-dismiss="modal">灭灯</button><br>
            <button type="button" id="blow" class="btn btn-default" data-dismiss="modal">爆灯</button><br>
            <button type="button" id="light" class="btn btn-default" data-dismiss="modal">亮灯</button><br>
            <button type="button" id="quit" class="btn btn-default" data-dismiss="modal">退场</button><br>
        </div>
        </div>
      </div>
    </div>
    
    <span style="float: left">
        <span id="num_div">
            {{#each friends_row1}}
            <div id="{{id}}" style='display: inline-block; padding: 5px; border-radius: 40px; margin-left: 50px'>
                    <p style='color: white; font-size:40px'><img alt="Responsive image" style='width: 100px' src="{{imageURL}}" class="img-rounded img-responssive" data-toggle="modal" data-target=".bs-modal-sm"/>{{name}}</p>
            </div>
            <br>
            {{/each}}
        </span>
    </span>
    
    <span id="wxscreen" style="display: inline">
        <iframe src="http://p.wxscreen.com/fcwr13/message" width="60%" height="680" zoom="0.6"></iframe>s
    </span>
  
    <span align="right" style="float: right">
        <span id="num_div">
            {{#each friends_row2}}
            <div id="{{id}}" style='display: inline-block; padding: 5px; border-radius: 40px; margin-right: 50px'>
                    <p style='color: white; font-size:40px'>{{name}}<img alt="Responsive image" style='width: 100px' src="{{imageURL}}" class="img-rounded img-responssive" data-toggle="modal" data-target=".bs-modal-sm"/></p>
            </div>
            <br>
            {{/each}}
        </span>
    </span>

    <!--button class="btn btn-warning" data-toggle="modal" data-target=".bs-modal-lg" style="display:scroll;position:fixed;bottom:5px;left:5px;padding:20px" id="audgroup">观众讨论群</button-->

    <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img src="/images/QR.jpg">
        </div>
      </div>
    </div>

    <div class="modal fade" id = "selectRole">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">请选择自己的号码</h4>
          </div>
          <div class="modal-body">
            <select id="roleNum">
              <option value="1">1号</option>
              <option value="2">2号</option>
              <option value="3">3号</option>
              <option value="4">4号</option>
              <option value="5">5号</option>
              <option value="6">6号</option>
              <option value="7">7号</option>
              <option value="8">8号</option>
              <option value="9">9号</option>
              <option value="10">10号</option>
              <option value="11">11号</option>
              <option value="12">12号</option>
              <option value="13">13号</option>
              <option value="14">14号</option>
              <option value="15">15号</option>
              <option value="16">16号</option>
              <option value="17">Admin</option>
            </select>
            <div id="adminpass">
                Admin Password: <input type="password" name="password" id="pass" value=""><br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  data-dismiss="modal" id="submitRole">确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--button class="btn btn-warning" data-toggle="modal" data-target=".bs-modal-lg2" style="display:scroll;position:fixed;bottom:5px;left:145px;padding:20px">走四方</button>

    <div class="modal fade bs-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img src="/images/zousifang.jpg">
        </div>
      </div>
    </div>

    <button class="btn btn-warning" data-toggle="modal" data-target=".bs-modal-lg3" style="display:scroll;position:fixed;bottom:5px;left:250px;padding:20px">鲸鱼</button>

    <div class="modal fade bs-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img src="/images/whale.jpg">
        </div>
      </div>
    </div-->

    <div>
        <button type="button" class="btn btn-warning" id="shutlight" style="display:scroll;position:fixed;bottom:5px;right:110px;padding:20px">灭</button>
    </div>

    <div>
        <button type="button" class="btn btn-warning" id="blowlight" style="display:scroll;position:fixed;bottom:5px;right:60px;padding:20px">爆</button>
    </div>

    <div>
        <button type="button" class="btn btn-warning" id="allight" style="display:scroll;position:fixed;bottom:5px;right:5px;padding:20px">...</button>
    </div>

    <!--div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">
    </div>
    <div class="controls">
        <input id="field" style="width:350px;">
        <input id="send" type="button" value="send">
    </div-->

    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/layout.js"></script>
    <!--script src="/js/picfilter.js"></script-->
    <script src="/js/audio.min.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <div style="display: none;">
        <h3>faf</h3>
        <audio src="/sounds/shut.mp3" autostart="true" hidden="true" loop="false" id='shut-sound'></audio>
        <audio src="/sounds/light.wav" autostart="true" hidden="true" loop="false" id='light-sound'></audio>
        <audio src="/sounds/blow.m4a" autostart="true" hidden="true" loop="false" id='blow-sound'></audio>
    </div>
</body>
</html>
